@import "~bootstrap/scss/bootstrap";

body {
    margin   : 0;
    padding  : 0;
    font-size: 14px;
   // background-color: aquamarine;
  
}

.wrapper {
    width    : 100%;
    max-width: 1200px;
    margin   : 0 auto;
}

main {
    width         : 100%;
    display       : flex;
    flex-direction: column;
}


@import"form";
@import"alerts";
