.invis {
    display: none;
}

.disabled {
    cursor: not-allowed;
}

.valid {
    -webkit-box-shadow: 0px 0px 4px 1px rgba(7, 230, 15, 1) !important;
    -moz-box-shadow   : 0px 0px 4px 1px rgba(7, 230, 15, 1) !important;
    box-shadow        : 0px 0px 4px 1px rgba(7, 230, 15, 1);
}

.error {
    -webkit-box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
    -moz-box-shadow   : 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
    box-shadow        : 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
}

.fontSize {
    font-size: 15px !important;
}