.invis {
    display: none;
}

.disabled {
    cursor: not-allowed;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 15px;
    color: rgb(34, 34, 34);
    text-decoration: none;
    &:hover {
        background-color: rgb(202, 199, 202);
        text-decoration: none;
        color: rgb(34, 34, 34);
    }
}
.link-active {
    background-color: rgba(240, 184, 111, 0.904);
}

.valid {
    -webkit-box-shadow: 0px 0px 4px 1px rgba(7, 230, 15, 1) !important;
    -moz-box-shadow: 0px 0px 4px 1px rgba(7, 230, 15, 1) !important;
    box-shadow: 0px 0px 4px 1px rgba(7, 230, 15, 1);
}

.error {
    -webkit-box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
    -moz-box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
    box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
}

.fontSize {
    font-size: 15px !important;
}

.center {
    justify-content: space-evenly;
}

.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
}

.body {
    border: 1px solid rgba(128, 128, 128, 0.507) !important;
    height: calc(100vh - 116px);
    overflow-y: auto;
    overflow-x: hidden;
}

.active-link {
    background-color: rgba(128, 128, 128, 0.377);
}

.but-active {
    border-color: rgba(240, 110, 87, 0.897);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
    -moz-box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
    box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
    background-color: rgba(240, 110, 87, 0.774);

    &:focus {
        border-color: rgba(240, 110, 87, 0.897);
        -webkit-box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
        -moz-box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
        box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
        background-color: rgba(240, 110, 87, 0.774);
    }
}
