body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  background-color: black;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 2em;
  color: #d4d3d3;
}

header > a:hover {
  color: orange;
}

header > a:active {
  color: #a06904;
}

header > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3;
  transition: -webkit-transform 0.3;
  transition: transform 0.3;
  transition: transform 0.3, -webkit-transform 0.3;
}

header > button:hover {
  color: orange;
  background-color: #535353;
}

header > button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

header > button > span {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 20px;
  border-radius: 20%;
  background-color: chocolate;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #cecdcd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  border: 1px solid gray;
  padding: 20px 0;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.product-item button {
  margin: 5px 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3;
  transition: -webkit-transform 0.3;
  transition: transform 0.3;
  transition: transform 0.3, -webkit-transform 0.3;
  background-color: #cecccc;
}

.product-item button:hover {
  color: orange;
  background-color: #535353;
}

.product-item button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.cart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(128, 128, 128, 0.678);
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.788);
  position: absolute;
  top: 30px;
  right: 30px;
}

.cart__close:hover {
  background-color: #c72306;
}

.cart__close:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.cart__body {
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  max-height: 70vh;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #11abda;
  overflow-y: auto;
}

.cart__body > hr {
  width: 100%;
}

.cart__headerBody {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.cart__headerBody p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__headerBody p.colImage {
  width: 20%;
}

.cart__headerBody p.colTitle {
  width: 20%;
}

.cart__headerBody p.colPrice {
  width: 20%;
}

.cart__headerBody p.colAllPrice {
  width: 20%;
}

.cart__headerBody p.colQuantity {
  width: 20%;
}

.cart__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__prodact {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cart__imgCont, .cart__title, .cart__price, .cart__all-price, .cart__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.cart__quantity > span {
  margin: 0 10px;
}

.cart__resalts > button {
  cursor: pointer;
  background-color: grey;
  outline: none;
  border: none;
  color: black;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 3px;
}

.cart__resalts > button:hover {
  background-color: #c72306;
}

.cart__resalts > button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.cart-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */