@import"_myvar.scss";


body {
    margin   : 0;
    padding  : 0;
    font-size: 14px;
  
}


.wrapper {
    width    : 100%;
    max-width: 1200px;
    margin   : 0 auto;
}


main {
    width         : 100%;
    display       : flex;
    flex-direction: column;
}


@import"_header.scss";

@import"products";

@import"cart"