<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container" id="el">

        <top v-on:showpage="toPage($event)" v-on:search="search" :count="countCart.quantity"></top>

        <!-- надо роутре сюда)) -->
        <about-shop v-if="pages[0].active"></about-shop>
        <myform v-if="pages[2].active"> </myform>
        <products v-if="pages[1].active" :products="catalog" :message="messagAboutSearch" @addtocart="addToCart($event)"
            @removefromcart="removeFromCart($event)"></products>
        <cart v-if="pages[3].active" :products="cart" @addtocart="addToCart($event)"
            @removefromcart="removeFromCart($event)" :count="countCart"></cart>
        <bot></bot>

    </div>
</body>

</html>