<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>

</head>

<body>
    <div class="container" id="el">

        <top></top>

        <router-view></router-view>
        <!-- надо роутре сюда)) -->
<!--         <about-shop v-if="pages[0].active"></about-shop>
        <myform v-if="pages[2].active"> </myform>
        <products v-if="pages[1].active"></products>
        <cart v-if="pages[3].active"></cart> -->
        <bot></bot>

    </div>
</body>

</html>